{% extends 'core/layout.html' %}

{% block title %}ورود{% endblock %}

{% block header %}{%  endblock %}

{% block main %}

    <div class="row mt-4 p-1 d-flex justify-content-center">

        <div class="col-sm-3 border border-2 p-3" style="background-color: rgba(193, 245, 238, 0.2)">
            <h1 class="bnazaninBold">
                ورود کاربر
            </h1>
            <hr>
            <form action="{% url 'login' %}" method="post" class="bnazanin">
                {% csrf_token %}
                {{ login_form.as_p }}


                <input type="submit" class="btn btn-primary" value="ورود">
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <a href="#" class="bnazanin">رمز خود را فراموش کرده اید؟</a>
            <br>
            <a href="{% url "register"%}" class="bnazanin">ساخت اکانت جدید</a>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}
