{%  extends 'core/layout.html' %}

{% block title %} لیست کاربران {% endblock %}

{% block header %}{%  endblock %}

{% block main %}
    <h1 class="bnazaninBold">لیست کاربران</h1>
    <hr>
    <div class="row p-3 d-flex justify-content-center">
        {% for user in users %}
        {% if user == request.user %}
            <!-- Does nothin, in other words doesn't show self -->
        {% else %}
        <div class="col-sm-4 p-3" style="background-color: rgba(180, 207, 203, 0.1)">

            <div class="card w-100 h-100" style="background-color: rgba(193, 245, 238, 0.2)">
                <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="text-align: center">نام کاربری : {{user.username}}</h5>
                <hr>
                <h5 dir="rtl">تاریخ تولد :</h5>
                <p class="card-text">{{ user.birthdate }}</p>
                <hr>
                <h5 dir="rtl">شهر محل سکونت :</h5>
                <p class="card-text">{{ user.city }}</p>
                <hr>
                <h5 dir="rtl">ایمیل :</h5>
                <p class="card-text">{{ user.email }}</p>
                <hr>
                <h5 dir="rtl">دوستان صمیمی :</h5>
                {% for closeFriend in user.close_friend.all %}
                    <ul>
                        <li class="card-text">{{ closeFriend }}</li>
                    </ul>
                {% endfor %}
                <hr>
                <h5 dir="rtl">شرح حال :</h5>
                <p class="card-text">{{ user.bio }}</p>
                </div>
                <div class="card-footer p-0">
                    <a href="{% url 'profile' user.id %}" class="btn btn-warning hover-bg-warning hover-text-white bnazaninBold w-100 rounded-top-0"
                       onmouseenter="this.classList.replace('btn-warning','btn-danger')"
                       onmouseleave="this.classList.replace('btn-danger','btn-warning')"
                       style="text-align: center">مشاهده</a> <!--onmouseenter and leave triggers when mouse is on the link or leaves it, gets all the classes it had with classlist and safely replace the one we want-->
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block footer %}{% endblock %}
