{% extends 'core/layout.html' %}

{% block title %}
    لیست پست ها
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    <h1 title="this is a test title!">Hello!</h1>
    {% for post in posts %} <!--we are using jinja language (this is how we do comments in html or ctrl+/-->
        <p>{{ post.title }}</p>
    {% endfor %}
    {% for post in posts %}
        {% if post.title == 'حاشیه سازی' %}
            <ul>
              <li>{{ post }}</li>
            </ul>
        {%else %}
            <ul>
                <li>{{ post.user }}</li>
            </ul>
        {% endif %}

    {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}


