{% extends 'core/layout.html' %}
{% load static %}

{% block title %}
    اولین پست ها
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    {#    <h2>{{ post.title }}</h2>#}
    {#    <p>#}
    {#    {{ post.content }}#}
    {#    </p>#}
    {#    <p>{{ post.user }}</p>#}
    {#    <p>{{ post.created_at }}</p>#}


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <!--without this if , the post wouldnt show without pic. adding url after image would not work for some reason-->
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="عکس پست">
            {% endif %}
            <p class="card-text">{{ post.user }}</p>
            <p class="card-text">{{ post.created_at }}</p>
            {% if post.created_at.date != post.updated_at.date %}
            <p class="card-text">{{ post.updated_at }}</p>
            {% endif %}
        </div>

        {% if request.user == post.user or request.user.is_superuser%}

        <!-- div below is for like button on posts-->
        <div class="card-footer d-flex justify-content-between">
            <form action={% url 'like' post_id=post.id %} method="post">
                {% csrf_token %}
                {% if is_liked %}
{#                    <input type="image" width="30" height="30" alt="like-icon" src="{% static 'icons/liked.png' %}"> <!-- commented cause we switched to bootsraps icons instead of image -->#}
                    <button class="like-btn" type="submit"><i class="bi bi-heart-fill" title="un-like"></i></button>
                {% else %}
{#                    <input type="image" width="30" height="30" alt="like-icon" src="{% static 'icons/unliked.png' %}">#} <!-- commented cause we switched to bootsraps icons instead of image -->
                    <button class="like-btn" type="submit"><i class="bi bi-heart" title="like"></i></button>
                {% endif %}
                {{ post.like_count }}
            </form>
        </div>
        <!-- End of post's likes div -->

        <div class="card-footer d-flex justify-content-between p-0">
            <a href="{% url 'edit_post' post_id=post.id %}" class="btn btn-warning w-50 rounded-top-0 rounded-start-0">ویرایش</a>
            <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-danger w-50 rounded-top-0 rounded-end-0">حذف</a>
        </div>
        {% endif %}

    </div>
{% endblock %}

{% block footer %}
{% endblock %}


