{% extends 'core/layout.html' %}

{% block title %}
    اولین پست ها
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    {#    <h2>{{ post.title }}</h2>#}
    {#    <p>#}
    {#    {{ post.content }}#}
    {#    </p>#}
    {#    <p>{{ post.user }}</p>#}
    {#    <p>{{ post.created_at }}</p>#}


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <!--without this if , the post wouldnt show without pic. adding url after image would not work for some reason-->
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="عکس پست">
            {% endif %}
            <p class="card-text">{{ post.user }}</p>
            <p class="card-text">{{ post.created_at }}</p>
            {% if post.created_at.date != post.updated_at.date %}
            <p class="card-text">{{ post.updated_at }}</p>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between p-0">
            <a href="{% url 'edit_post' post_id=post.id %}" class="btn btn-warning w-50 rounded-top-0 rounded-start-0">ویرایش</a>
            <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-danger w-50 rounded-top-0 rounded-end-0">حذف</a>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}


