{%  extends 'core/layout.html' %}

{% block title %} مشخصات کاربر {% endblock %}
{% block style %}
{% endblock %}

{% block header %}{%  endblock %}

{% block main %}
    <div class="card" style="width: 36rem;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">نام کاربری : {{ user.username}}</h5>
        <hr>
        <h5 dir="rtl">تاریخ تولد :</h5>
        <p class="card-text">{{ user.birthdate }}</p>
        <hr>
        <h5 dir="rtl">شهر محل سکونت :</h5>
        <p class="card-text">{{ user.city }}</p>
        <hr>
        <h5 dir="rtl">ایمیل :</h5>
        <p class="card-text">{{ user.email }}</p>
        <hr>
        <h5 dir="rtl">دوستان صمیمی :</h5>
        {% for closeFriend in user.close_friend.all %}
            <ul>
                <li class="card-text">{{ closeFriend }}</li>
            </ul>
        {% endfor %}
        <hr>
        <h5 dir="rtl">شرح حال :</h5>
        <p class="card-text">{{ user.bio }}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
          <a href="#" class="btn btn-warning">ویرایش</a>
          <a href="#" class="btn btn-danger">حذف</a>
      </div>

    </div>
{% endblock %}

{% block footer %}{% endblock %}
